.leaflet-container .leaflet-marker-icon {
    background-color: rgba(0, 0, 0, 0);
    width: 25px;
    height: 41px;
  }
  
  .leaflet-container .leaflet-marker-shadow {
    background-color: rgba(0, 0, 0, 0);
    width: 41px;
    height: 41px;
  }
  